<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.community.mapper.NotificationMapper">

    <resultMap id="BaseResultMap" type="com.db.community.model.entity.Notification">
            <id property="notificationId" column="notification_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="display" column="display" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        notification_id,content,create_time,
        display
    </sql>
</mapper>
